.BannerCarousel{
    width: 100%;
    height: 280px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    .BannerCarousel_Image{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
}